{% extends "styleguide/styleguide.html" %}

{% load styleguide_tags %}

{% block styleguide_content %}

<h1>Typography</h1>
<p>Consistent web typography helps achieve a hierarchy and vertical rhythm of a layout.</p>

<h2>Font Size</h2>
<h3>Base Font Size</h3>
<p>The base font size is defined as a variable <code>$font-size-base</code>. The default value for this style guide is <code>$font-size-base = 16px</code>, and it can be adjusted based on project needs.</p>


<h3>Responsive Font Sizes</h3>
<p>Font sizes across devices scale from a minimum value on mobile, <code>$font-size-very-small</code>, to a maximum value on desktop, <code>$font-size-base</code>, between a minimum screen width, <code>$minScreenWidth = 320</code>, and a maximum screen width, <code>$maxScreenWidth = 960</code>. The minimum to a maximum font size values, as well as the minimum and maximum screen width values can be modified per project requirements.</p>

<p>Responsive font sizes are defined by a <code>graduated()</code> function, which takes a property (e.g. font size), its minimum and maximum values, and a value of the modular scale (see explanation of the modular scale below).</p>

{% example wide=True %}

<!-- Stylus -->
body
	graduated(font-size, $font-size-small, $font-size-base)

<!-- HTML -->
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

{% endexample %}

<h2>Vertical Rhythm</h2>
<p>Vertical rhythm is a vertical patterns in a layout achieved by a repetition of typographic elements (headings, paragraphs, and lines of text), and the white space between them. We create vertical rhythm by controlling the values of:</p>
<ul>
	<li>Modular scale</li>
	<li>Line-height</li>
	<li>Margins</li>
</ul>

<h3>Modular Scale</h3>
<p>Font size increases from <code>&lt;p&gt;</code> through <code>&lt;h&gt;</code> elements by a constant ratio. The resulting sequence of font size values is called modular scale. The value of the modular scale factor is defined as a variable <code>$fontScale</code> and can be modified per project requirements. The default value used in this style guide primer is <a href="http://www.modularscale.com/?1&em&1.25">major third</a>, <code>$fontScale = 1.25</code>.

<h3>Line Height</h3>
<p>Line-height is the basis of a so-called <a href="https://webdesign.tutsplus.com/articles/setting-web-type-to-a-baseline-grid--webdesign-3414">baseline grid</a>, a technique fundamental to establishing correct typographic relationships.</p>
<p>In this style guide primer, the base line height is defined as a variable <code>$line-height-base</code>. The default line-height value for this style guide is 1.5 (<code>$line-height-base = $font-size-base*1.5</code>), and it can be adjusted based on project needs.</p>

<h3>Responsive Line Height</h3>

<p>Line height across devices scales from a minimum value on mobile, <code>$line-height-small</code>, to a maximum value on desktop, <code>$line-height-base</code>, between a minimum screen width, <code>$minScreenWidth = 320</code>, and a maximum screen width, <code>$maxScreenWidth = 960</code>. The minimum to a maximum line height values, as well as the minimum and maximum screen width values can be modified per project requirements.</p>

<p>Responsive line height is defined by a <code>graduated()</code> function, which takes a property (e.g. line height), its minimum and maximum values, and a value of the modular scale (see explanation of the modular scale below).</p>

{% example wide=True %}

<!-- Stylus -->
body
	graduated(line-height, $line-height-small, $line-height-base)

<!-- HTML -->
<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

{% endexample %}

<h3> Margins</h3>
<p>Margins applied to typographic elements are derived from the line height. For example, a default margin-bottom on a <code>p</code> element is defined as 1.25 of the base line height (<code>$line-height-base*1.25</code>).</p>

<h3>Responsive Margins</h3>
<p>Using the <code>graduated()</code> function, we scale margins across devices between a minimum screen width, <code>$minScreenWidth = 320</code>, and a maximum screen width, <code>$maxScreenWidth = 960</code>, from <code>$line-height-small*1.25</code> to <code>$line-height-base*1.25</code>.</p>


{% example wide=True %}

<!-- Stylus -->
p
	graduated(margin-bottom, $line-height-small * 1.25, $line-height-base * 1.25)

<!-- HTML -->
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

{% endexample %}

<h2>Font Weights</h2>
<p>Font weights are defined as a font weight dictionary. The selection of keys and their values depends on the typefaces used.</p>

{% example wide=True %}

<!-- Stylus -->
$font-weight = {
	normal : normal,
	bold : bold
}

h5
	font-weight: $font-weight.bold

<!-- HTML -->
<h5>Nullam Ornare Mattis</h5>

{% endexample %}

{% endblock %}
