{% extends "styleguide/styleguide.html" %}

{% load styleguide_tags %}

{% block styleguide_content %}
    <h1>Color and Grayscale</h1>
	
	<p>Color is used to represent the brand, to communicate interactions and feedback, and to improve aesthetics of an application. Brand colors are expressed as primary, secondary, and accent colors. For brands with a more extensive color palette, additional designations are needed. Color palettes consist of base color values espressed as variables, and their derivatives, e.g., dark, light, very light, etc., expressed as Stylus hash objects. For each color, the derivatives are built as steps of alpha transparency. Colors are retrieved from hash objects by concatenating the hash name, key name, and nested key name, e.g. <code>$palette.primary.dark</code>.</p>
    <p>Grayscale consists of black and white, and shades that are alpha values between them, expressed as Stylus hash objects. It can be extended to include more shades as necessary. Black, white, and the shades of gray are retrieved from hash objects by concatenating the hash name, key, and nested key, e.g. <code>$palette.grayscale.dark</code>.</p>
	
	<h2>Color Constrast for Web Accessibility</h2>
	<p>When using colors for text and background, be mindful of the text/background <a href="https://webaim.org/resources/contrastchecker/" target="_blank">contrast</a>. Aim at achieving contrast ratio of 4.5:1 for normal text and 3:1 for large text (<a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-contrast" target="_blank">level AA of WCAG 2.0</a>).</p>
	<p>A possible exception to meeting the color contrast requirement could be a disabled element, in which dimished legibility of the text is itself an indication of the element's disabled state.</p>
	<p>Text/background color pairs should be evaluated for each project based on its specific colors palettes.</p>
	<p></p>

	<h3>Color Helpers</h1>
	<p>Color selection is important and not always obvious, so there are many helpers to make the job easier.</p>
	
	
	
	<h2>Action Colors</h2>
	<p>Colors can be used to indicate the meaning of interactions. Make sure you <a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-without-color" target="_blank">don’t use color alone as action indicator</a>, but combine it with other means of conveying information, e.g., text.</p>
	<p>The meaning should be assigned to colors based on established conventions and the selection of colors within a given palette. For the color palettes shown in this Styleguid Primer, the suggested meaning of interactions includes:</p>
	<ul> 
		<li>Primary for affirmative and success actions and feedback</li>
		<li>Secondary for neutral actions</li>
		<li>Alert for destructive actions, warning and error feedback</li>
	</ul>
	
	<h3>Interactive Elements Colors</h3>
	<p>For interactive elements with larger interactive surface area (e.g. buttons), use the background color that has sufficient contrast with white text. Create hover and focus states by darkening the rest state color, and an active state by increasing the saturation. The exact values of the <code>darken</code> and <code>saturate</code> functions should be project specific.</p>
	<p>For disabled elements use mid gray text on very light gray background. This color combination does not meet the minimum color constrast requirement, and creates a friction that provides additional feedback that the element is disabled.</p>
	{% example %}
		<!-- Stylus -->
		.affirmative-interactive-element
			applyColorSet("elem-affirm")
			text-align: center
			height: 3rem
			padding: 1em 2em
			line-height: 1
		<!-- HTML -->
		<div class="affirmative-interactive-element">
			Affirm
		</div>
	{% endexample %}
	{% example %}
		<!-- Stylus -->
		.neutral-interactive-element
			applyColorSet("elem-neutral")
			text-align: center
			height: 3rem
			padding: 1em 2em
			line-height: 1
		<!-- HTML -->
		<div class="neutral-interactive-element">
			Whatever
		</div>
	{% endexample %}
	{% example %}
	<!-- Stylus -->
	.destructive-interactive-element
		applyColorSet("elem-danger")
		text-align: center
		height: 3rem
		padding: 1em 2em
		line-height: 1
	<!-- HTML -->
		<div class="destructive-interactive-element">
			Destruct
		</div>
	{% endexample %}
	{% example %}
	<!-- Stylus -->
	.disabled-interactive-element
		applyColorSet("elem-disabled")
		text-align: center
		height: 3rem
		padding: 1em 2em
		line-height: 1
	<!-- HTML -->
		<div class="disabled-interactive-element">
			Disabled
		</div>
	{% endexample %}
	<h3>Messaging Colors</h3>
	<p>For messages, callouts, and feedback, use very light shades for background. Use dark or very dark color for text based on the minimum color contrast requirement (see possible color combinations under Text/Background Color Combinations).</p>
	{% example %}
	<!-- Stylus -->
	.success-message
		applyColorSet("content-success")
	<!-- HTML -->
		<div class="success-message">
			<span class="success-icon">&#10003;</span> This is a <a href="#">success</a> message!
		</div>
	{% endexample %}
	{% example %}
	<!-- Stylus -->
	.attention-grabber-message
		applyColorSet("content-attention")
	<!-- HTML -->
		<div class="attention-grabber-message">
			This is an <a href="#">attention</a> grabber!
		</div>
	{% endexample %}
	{% example %}
	<!-- Stylus -->
	.alert-message
		applyColorSet("content-alert")
	<!-- HTML -->
		<div class="alert-message">
			<span class="alert-icon">&#33;</span> This is an <a href="#">alert</a> message.
		</div>
	{% endexample %}
	{% example %}
	<!-- Stylus -->
	.neutral-message
		applyColorSet("elem-neutral")
	<!-- HTML -->
		<div class="neutral-message">
			This is a <a href="#">neutral</a> message.
		</div>
	{% endexample %}
    <h2>Text/Background Color Combinations</h2>
	<p>Examples below show suggested text/background color combinations based the color palette used in this Styleguide Primer. The suggested combinations work also when the text and background colors are reversed.</p>
	<p>For interactive element, please use the pre-determined combinations shown at the beginning of this page.</p>
	<div class="swatches-category-wrapper">
		<div class="swatches-category">
			<h3>Primary Background</h3>
			<ul class="grid swatches">
				<li class="swatch">
					<div class="swatch-hue primary-very-dark">
						AA (8.24:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.primary.very-dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue primary-dark">
						AA (4.57:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.primary.dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue primary">
					</div>
					<code class="swatch-code">$palette.primary.base</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue primary-light">
						AA (6.08:1) Normal text, primary very dark
					</div>
					<code class="swatch-code">$palette.primary.light</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue primary-very-light">
						AA (7.25:1) Normal text, primary very dark
					</div>
					<code class="swatch-code">$palette.primary.very-light</code>
				</li>
			</ul>
		</div>
		<div class="swatches-category">
			<h3>Secondary Background</h3>
			<ul class="grid swatches">
				<li class="swatch">
					<div class="swatch-hue secondary-very-dark">
						AA (11.11:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.secondary.very-dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue secondary-dark">
						AA (7.68:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.secondary.dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue secondary large-text">
						AA (4.48:1) Large text, white
					</div>
					<code class="swatch-code">$palette.secondary.base</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue secondary-light">
						AA (5.00:1) Normal text, secondary very dark
					</div>
					<code class="swatch-code">$palette.secondary.light</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue secondary-very-light">
						AA (6.04:1) Normal text, secondary dark
					</div>
					<code class="swatch-code">$palette.secondary.very-light</code>
				</li>
			</ul>
		</div>
		<div class="swatches-category">
			<h3>Accent Background</h3>
			<ul class="grid swatches">
				<li class="swatch">
					<div class="swatch-hue accent-very-dark">
						AA (11.48:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.accent.very-dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue accent-dark">
						AA (8.04:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.accent.dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue accent">
						AA (4.75:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.accent.base</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue accent-light">
						AA (5.72:1) Normal text, accent very dark
					</div>
					<code class="swatch-code">$palette.accent.light</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue accent-very-light">
						AA (5.79:1) Normal text, accent dark
					</div>
					<code class="swatch-code">$palette.accent.very-light</code>
				</li>
			</ul>
		</div>
		<div class="swatches-category">
			<h3>Alert Background</h3>
			<ul class="grid swatches">
				<li class="swatch">
					<div class="swatch-hue alert-very-dark">
						AA (9.93:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.alert.very-dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue alert-dark">
						AA (6.90:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.alert.dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue alert">
						AA (4.90:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.alert.base</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue alert-light">
						AA (4.58:1) Normal text, alert very dark
					</div>
					<code class="swatch-code">$palette.alert-light.base</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue alert-very-light">
						AA (5.96:1) Normal text, alert dark
					</div>
					<code class="swatch-code">$palette.alert.very-light</code>
				</li>
			</ul>
		</div>
		<div class="swatches-category">
			<h3>Grayscale Background</h3>
			<ul class="grid swatches">
				<li class="swatch">
					<div class="swatch-hue black">
						AA (14.20:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.grayscale.black</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue grayscale-dark">
						AA (5.21:1) Normal text, white
					</div>
					<code class="swatch-code">$palette.grayscale.dark</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue grayscale-mid">
						AA (6.30:1) Normal text, black
					</div>
					<code class="swatch-code">$palette.grayscale.mid</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue grayscale-light">
						AA (4.99:1) Normal text, grayscale very dark
					</div>
					<code class="swatch-code">$palette.grayscale.light</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue grayscale-very-light">
						AA (6.67:1) Normal text, grayscale very dark
					</div>
					<code class="swatch-code">$palette.grayscale.very-light</code>
				</li>
				<li class="swatch">
					<div class="swatch-hue white">
						AA (14.20:1) Normal text, black
					</div>
					<code class="swatch-code">$palette.grayscale.white</code>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}






















