*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
coverage
.vagrant
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
.env
node_modules/
public_static/
npm-debug.log
/htmlcov/
styleguideprimer/static/css/bundle.css

*.sqlite3
*.egg-info
