/*****************************************
              Color Page Styles
******************************************/

// Styles for Colors Page

section.color-gallery
	margin-top: 3rem
	padding: 0
	background-color: $palette.grayscale.white
	.grid
		border: 0 solid

.swatches-category-wrapper
	display:grid
	grid-template-columns: repeat(2, 1fr)
	grid-template-rows: auto
	grid-column-gap: 4vw
	grid-row-gap: 1vw
	@media (max-width: 960px)
		grid-template-columns: repeat(1, 1fr)

.swatches-category h3
	graduated(margin-top, $line-height-small * 1.25, $line-height-base * 1.25)

.swatches-category:nth-child(1) h3,
.swatches-category:nth-child(2) h3
	margin-top: 0
	
.swatches-category:nth-child(2) h3
	@media (max-width: 960px)
		graduated(margin-top, $line-height-small * 1.25, $line-height-base * 1.25)

.swatches
	display: grid
	grid-auto-rows: minmax(40px, auto);
	grid-row-gap: 2vw
	max-width: 100%
	margin: 0 auto
	padding: 0
	background-color: $palette.grayscale.white

.swatch
	border: 1px solid $palette.grayscale.very-light
	list-style: none

.swatch-hue
	height: 4rem
	padding: 1rem
	&.large-text
		graduated(font-size, $font-size-small, $font-size-base, 1)

.swatch-hue p
	text-align: center

.swatch-code
	display: block
	white-space: nowrap
	overflow-x: auto

.swatch-code-comment
	margin-top: 0.5rem
	margin-bottom: 0
	font-size: 14px
	color: $palette.grayscale.mid

.primary-dark-edge
	background-color: color-edge($palette.primary.base, white)
	color: white
	
.primary-very-dark
	background-color: $palette.primary.very-dark
	color: $palette.grayscale.white
	center()

	&::after
		content: '"%s"' % (contrast($palette.primary.very-dark, $palette.grayscale.white).ratio)

.primary-dark
	background-color: $palette.primary.dark
	color: $palette.grayscale.white
	center()
	
.primary
	background-color: $palette.primary.base
	center()

.primary-light-edge
	background-color: color-light-edge($palette.primary.base, $palette.primary.very-dark)
	color: $palette.primary.very-dark
	center()

	&::after
		content '"%s"' % (contrast($palette.primary.base, $palette.primary.very-dark).ratio)

.primary-light
	background-color: $palette.primary.light
	color: $palette.primary.very-dark
	center()

.primary-very-light
	background-color: $palette.primary.very-light
	color: $palette.primary.very-dark
	center()

.secondary-very-dark
	background-color: $palette.secondary.very-dark
	color: $palette.grayscale.white
	center()

.secondary-dark
	background-color: $palette.secondary.dark
	color: $palette.grayscale.white
	center()
	
.secondary-dark-edge
	background-color: $palette.secondary.dark-edge
	color: $palette.grayscale.white
	center()

.secondary
	background-color: $palette.secondary.base
	color: $palette.grayscale.white
	center()

.secondary-light
	background-color: $palette.secondary.light
	color: $palette.secondary.very-dark
	center()

.secondary-very-light
	background-color: $palette.secondary.very-light
	color: $palette.secondary.dark
	center()

.accent-very-dark
	background-color: $palette.accent.very-dark
	color: $palette.grayscale.white
	center()

.accent-dark
	background-color: $palette.accent.dark
	color: $palette.grayscale.white
	center()

.accent
	background-color: $palette.accent.base
	color: $palette.grayscale.white
	center()

.accent-light
	background-color: $palette.accent.light
	color: $palette.accent.very-dark
	center()

.accent-very-light
	background-color: $palette.accent.very-light
	color: $palette.accent.dark
	center()

.alert-very-dark
	background-color: $palette.alert.very-dark
	color: $palette.grayscale.white
	center()

.alert-dark
	background-color: $palette.alert.dark
	color: $palette.grayscale.white
	center()

.alert
	background-color: $palette.alert.base
	color: $palette.grayscale.white
	center()

.alert-light
	background-color: $palette.alert.light
	color: $palette.alert.very-dark
	center()

.alert-very-light
	background-color: $palette.alert.very-light
	color: $palette.alert.dark
	center()
	
.black
	background-color: $palette.grayscale.black
	color: $palette.grayscale.white
	center()

.grayscale-very-dark
	background-color: $palette.grayscale.very-dark
	color: $palette.grayscale.white
	center()

.grayscale-dark
	background-color: $palette.grayscale.dark
	color: $palette.grayscale.white
	center()

.grayscale-mid
	background-color: $palette.grayscale.mid
	color: $palette.grayscale.black
	center()

.grayscale-light
	background-color: $palette.grayscale.light
	color: $palette.grayscale.very-dark
	center()

.grayscale-very-light
	background-color: $palette.grayscale.very-light
	color: $palette.grayscale.very-dark
	center()

.white
	background-color: $palette.grayscale.white
	color: $palette.grayscale.black
	center()
	
.success-icon,
.alert-icon
	margin-right: 0.5rem
	graduated(font-size, $font-size-small, $font-size-base, 2)

.success-icon
	color: $palette.primary.base
	
.alert-icon
	color: $palette.alert.base	

.success-message
	applyColorSet("content-success")
	text-align: center
	padding: 1.5rem 2rem
	
.attention-grabber-message
	applyColorSet("content-attention")
	text-align: center
	padding: 1.5rem 2rem
	
.alert-message
	applyColorSet("content-alert")
	text-align: center
	padding: 1.5rem 2rem

.neutral-message
	applyColorSet("content-message")
	text-align: center
	padding: 1.5rem 2rem
	
.affirmative-interactive-element
	applyColorSet("elem-affirm")
	text-align: center
	height: 3rem
	padding: 1em 2em
	line-height: 1
	
.neutral-interactive-element
	applyColorSet("elem-neutral")
	text-align: center
	height: 3rem
	padding: 1em 2em
	line-height: 1
	
.destructive-interactive-element
	applyColorSet("elem-danger")
	text-align: center
	height: 3rem
	padding: 1em 2em
	line-height: 1
	
.disabled-interactive-element
	applyColorSet("elem-disabled")
	text-align: center
	height: 3rem
	padding: 1em 2em
	line-height: 1