input, textarea, select, button, label
    font-size: 1rem

input
    height: 2em
    padding: 1em 0.5em

button-style($palette)
    applyColorSet($palette)
    height: 3em
    padding: 1em 2em
    outline: none
    border: 0
    border-radius: 2em
    transition: all 0.5s

    &:hover
        box-shadow: 0px 1px 1px transparent
        cursor: pointer

    &:focus
        box-shadow: 0px 1px 1px transparent

    &:active
        transition: all 0s

button, input[type=submit], input[type=button]
    button-style("elem-affirm")
    line-height: 1

button.cancel
    button-style("elem-neutral")

button.danger
    button-style("elem-danger")

fieldset,
fieldset div
    > *
        display: block

    label
        position: relative

    input
        padding: 2em 0em 1em
        outline: none
        border: none
        border-bottom: 1px solid $palette.grayscale.light
        line-height: 1
        graduated(font-size, $font-size-small, $font-size-base)

    input[type=text], input[type=password], input[type=email]
        graduated(margin-top, $line-height-small, $line-height-base)
        height: 3em
        padding: 1em 0 0 0
        margin-bottom: 0px
        width: 100%
        max-width: 20em
        border-radius: 0px
        transition: border 0.4s

        &:focus
            border-bottom: 1px solid $palette.accent.base

        &.input-error
            border-bottom: 1px solid $palette.alert.base

    input[type=submit], input[type=button], input[type=file]
        graduated(margin-top, $line-height-small * 1.25, $line-height-base * 1.25)
        margin-bottom: 0px
        width: 100%
        max-width: 20em

    input[disabled], input[readonly]
        background-color: $palette.grayscale.very-light
        color: $palette.grayscale.mid

    input + label
        graduated(font-size, $font-size-very-small, $font-size-base, 0)
        color: $palette.grayscale.mid

    input:not([type=checkbox]):not([type=radio]):not([type=file]) + label
        height: 0
        padding: 0
        top: -1.7em
        pointer-events: none
        transition: all 0.2s

    input.populated:not([type=checkbox]):not([type=radio]):not([type=file]) + label,
    input:focus:not([type=checkbox]):not([type=radio]):not([type=file]) + label,
    input[readonly] + label,
    input[disabled] + label
        graduated(font-size, $font-size-very-small, $font-size-small, 0)
        top: -3.5em

    input:focus:not([type=checkbox]):not([type=radio]):not([type=file]) + label
        color: $palette.accent.base

    input.input-error:not([type=checkbox]):not([type=radio]):not([type=file]) + label
        color: $palette.alert.base

    input[type=file]
        width: 0.1px
        height: 0.1px
        opacity: 0
        overflow: hidden
        position: absolute
        z-index: -1

        & + label
            @extend button
            top: 0
            display: inline-block
            pointer-events: all
            font-size: inherit
            padding: 1.05em 2em 0.8em

    legend
        graduated(font-size, $font-size-very-small, $font-size-base, 0)
        graduated(margin-bottom, $font-size-small, $font-size-base, 0)
        padding: 0
        color: $black

        .error
            display: block
            line-height: 1em;

    input[type=checkbox], input[type=radio]
        display: inline-block
        margin: 0 0 0.75em 0
        padding: 0
        width: 1em
        height: 1em

        & + label
            color: $black
            position: static
            display: inline-block
            vertical-align: top
            padding-left: 0.4em
            width: calc(100% - 1.5em)
            height: 1em

    .error
        graduated(font-size, $font-size-very-small, $font-size-small, 0)
        display: block
        color: $palette.alert.base
        line-height: 1em
        padding: 0
        height: 0

    button
        width: 60%

fieldset.simple-labels
    input
        padding: 1.5em 0.5em
        border: 1px solid $palette.grayscale.light

    input[type=text], input[type=password], input[type=email]
        margin-top: $line-height-base * 2 !important
        margin-bottom: 0px !important

    input + label
        top: -5.2em
        transition: unset

    input[type=submit]
        margin-top: 2em

select:not([multiple])
    button-style("elem-affirm")

    -webkit-appearance: none
    position: relative
    padding: 0 3em 0 2em
    border-radius: 0

    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(135deg, white 50%, transparent 50%)
    background-position:
        calc(100% - 15px - 5px) calc(1em + 7px),
        calc(100% - 10px - 5px) calc(1em + 7px)
    background-size:
        5px 5px,
        5px 5px
    background-repeat: no-repeat
