center()
	display: flex
	justify-content: center
	align-items: center

primary-dark()
	background: $palette.primary.dark
	color: $white

primary()
	background: $palette.primary.base
	color: $white

primary-light()
	background: $palette.primary.light
	color: $palette.primary.dark

primary-very-light()
	background: $palette.primary.very-light
	color: $palette.primary.base
