/*****************************************
              Typography Pages Styles
******************************************/

.styleguide-page-title // use for h1 in styleguide app
	color: $palette.primary.base

.styleguide-heading //use for h2 - h5 in styleguide app
	color: $palette.secondary.base

h1.styleguide-page-title
	+ h2.styleguide-heading
		margin-top: 2rem

aside h2
	graduated(font-size, $font-size-small, $font-size-base, 0)
	font-weight: $font-weight.bold

footer p
	font-size: $font-size-small

.home-hero-heading
	graduated(font-size, $font-size-small, $font-size-base, 5)
	graduated(line-height, $line-height-small, $line-height-small, 5)

.home-hero-tagline
	graduated(font-size, $font-size-small, $font-size-base, 1)
	graduated(line-height, $line-height-base, $line-height-base, 1)
