/*****************************************
              Typography Pages Styles
******************************************/

#styleguide-content
	h1
		color: $palette.primary.base

		& + h2
			margin-top: 2rem

	h2,h3,h4,h5,h6
		color: $palette.secondary.base

	aside h2
		graduated(font-size, $font-size-small, $font-size-base, 0)
		font-weight: $font-weight.bold

	footer p
		font-size: $font-size-small

.home-hero-heading
	graduated(font-size, $font-size-small, $font-size-base, 5)
	graduated(line-height, $line-height-small, $line-height-small, 5)

.home-hero-tagline
	graduated(font-size, $font-size-small, $font-size-base, 1)
	graduated(line-height, $line-height-base, $line-height-base, 1)
