// Configuration

$minScreenWidth = 320
$maxScreenWidth = 960
$fontScale = 1.25
$font-size-base = 16px
$font-size-small = $font-size-base * 0.875
$font-size-very-small = $font-size-base * 0.75
$line-height-base = $font-size-base * 1.5
$line-height-small = $font-size-small * 1.5
$line-height-very-small = $font-size-very-small * 1.5
$line-height-heading = $font-size-base * 1.25